* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.main-display {
    border: 2px blue solid;
    height: 75vh;
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem auto 5rem;
    justify-items: center;
    align-items: center;
}

.card {
    grid-row: 2 / 3;
    border: 2px red solid;
    height: 100%;
    width: 80%;
}

.title {
    text-align: center;
    padding-top: 2rem;
}