* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0 0 3rem 3rem;
    border: 1px solid #888;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.modal-content > .modal-title {
    padding-bottom: 3rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center;
}

.title-label {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.new-title-input {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.confirm-new-book {
    grid-column: 1 / 2;
    height: 25%;
    width: 25%;
    justify-self: center;
    align-self: center;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 4rem;
    font-weight: bold;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* .radio-labels {
    display: flex;
    justify-content: flex-start;
} */

.wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.main-display {
    border: 2px blue solid;
    height: 75vh;
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem auto 5rem;
    justify-items: center;
    align-items: center;
}

.bookCard {
    grid-row: 2 / 3;
    border: 2px red solid;
    height: 100%;
    width: 80%;
}

.title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.add-book {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-content: center;
}