* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.main-display {
    border: 2px blue solid;
    height: 75vh;
    width: 75vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem auto 5rem;
    justify-items: center;
    align-items: center;
}

.card {
    grid-row: 2 / 3;
    border: 2px red solid;
    height: 100%;
    width: 80%;
}

.title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.add-book {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-content: center;
}